.login {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login__container {
    padding: 100px;
    text-align: center;
    background-color: #383838;
    border-radius: 10px;
}

.login__container>img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login__container>button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}

.login__text {
    color: white;
}